/*============UNIVERSALS====================*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: 'Abril Fatface', cursive;

}


a:hover {
  color: #eee;
}

  /*===========NAV====================*/
.navi {
position: fixed;
top: 0;
width: 100%;
z-index: 9;
background-color: rgba(255, 255, 255, 0.5);
padding: 40px;
margin-left: -1.5%;
}

.egg {
  position: fixed;
  top: 0;
  left: -70px;
  z-index: 10;
}

.breakfast {
  position: fixed;
  top: 15%;
  z-index: 10;
}

.nav-pills {
  margin: 10px;
}

.carousel-inner img {
  height: 20%;
}

.nav a {
  color: #000;
  font-family: 'Abril Fatface', cursive;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0)
}

  /*============JUMBOTRON====================*/

.jumbotron {
  position: relative;
  background-image: url(../img/breakfast.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.welcome {
  padding-top: 15%;
  text-align: center;
}

.welcome h1 {
  color: #fff;
  text-shadow: 3px 3px 8px #000;
  margin: 20px;
}

.welcome a {
  background-color: #fff;
  border-style: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.welcome a:hover {
  text-decoration: none;
  box-shadow: 8px 8px 28px #000;
}


/*============MENU====================*/
.menuitem {
  height: 300px;
}

.menu h1 {
  text-align: center;
  border-bottom: 1px solid #000;
}

#pancake {
  background-image: url(../img/pancake.jpg);
  background-position: center;
  background-size: cover;
}

#waffle {
  background-image: url(../img/waffle.jpg);
  background-position: center;
  background-size: cover;
}

#smoothiebowl {
  background-image: url(../img/smoothiebowl.jpg);
  background-position: center;
  background-size: cover;
}

#eggtoast {
  background-image: url(../img/eggtoast.jpg);
  background-position: center;
  background-size: cover;
}

#oats {
  background-image: url(../img/oats.jpg);
  background-position: center;
  background-size: cover;
}

#pastry {
  background-image: url(../img/pastry.jpg);
  background-position: center;
  background-size: cover;
}

#coffee {
  background-image: url(../img/coffee.jpg);
  background-position: center;
  background-size: cover;
}

#tea {
  background-image: url(../img/tea.jpg);
  background-position: center;
  background-size: cover;
}

#juice {
  background-image: url(../img/juice.jpg);
  background-position: center;
  background-size: cover;
}


/*===========OVERLAYS------------------*/
.overlay {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 90%;
  width: 100%;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}


/*-------------_FOOTER--------------------*/

.eggfoot {
  position: absolute;
  left: 45%;
  margin-top: -47px;
}

.top {
  position: absolute;
  left: 48%;
  margin-top: -28px;
}

footer {
  background-color: #fdc164;
  height: 300px;
  width: 100%;
}

footer h4, footer h3 {
  margin: 0;
  color: #000;
}

.address, .contact {
  margin-top: 20px;
}



/*-----------MEDIAQUERIES-----------*/
@media only screen and (max-width: 650px){

  .navitems {
    margin-left: 0;
    margin-top: 20px;
  }

  .welcome {
    margin-top: 40%;
  }

  .address h1{
    padding-top: 40px;
  }

  .top {
    position: absolute;
    left: 53%;
    margin-top: -28px;
  }

  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    margin-top: 10%;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
       border-color: none;
     }

  .navbar-toggle{
    margin: 0;
  }

}
